<h2>Mi Carrito</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>code</th>
            <th>price</th>
            <th>status</th>
            <th>stock</th>
            <th>category</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{pId.title}}</td>
            <td>{{pId.description}}</td>
            <td>{{code}}</td>
            <td>{{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{category}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>