<h2>Listado de Productos</h2>
<p>{{products}}</p>


<table id="productsTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>code</th>
            <th>price</th>
            <th>status</th>
            <th>stock</th>
            <th>category</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{_id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>{{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>